Redirect 302 /contact.html http://www.learnprivatepiano.com
Redirect 302 /testimonials.html http://www.learnprivatepiano.com/index.html
Redirect 302 /about.html http://www.learnprivatepiano.com/index.html
Redirect 302 /faq.html http://www.learnprivatepiano.com/index.html
Redirect 302 /method.html http://www.learnprivatepiano.com/index.html
Redirect 302 /lessons.html http://www.learnprivatepiano.com/index.html

AddType text/html .shtml
AddHandler server-parsed .html
AddHandler server-parsed .shtml
Options Indexes FollowSymLinks Includes
DirectoryIndex index.shtml index.html 
